# CMAKE default gitignore (github)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# ESP-IDF default build directory name
build
build/
build_*/
sdkconfig
sdkconfig.old
dependencies.lock
managed_components
__pycache__/
out/
_build/

# Mac OS 
.DS_Store